html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #ffffff;
}

.title {
    font-size: 40px;
    text-align: center;
}

main {
    display: flex;
    align-content: center;
    align-items: center;
    height: calc(100% - 30px);
    background-color: #1d2927;

    #import {
        width: 47%;
    }

    #export {
        width: 47%;
    }

    #years {
        width: 6%;
        list-style-type: none;

        button {
            width: 50px;
            margin: 2px 0;
            background-color: transparent;
            border: 1px solid transparent;
            font-family: 'Love Ya Like A Sister', cursive;
            font-size: 16px;
            color: #ffffff;
            text-align: center;

            &:hover,
            &.active {
                border-color: #ffffff;
                outline: 1px solid transparent;
            }
        }
    }

    .show-elipses {
        height: 8px;
        border: 0 none;
        background-color: transparent;
        font-size: 8px;
        font-family: 'Verdana', sans-serif;

        .button {
            outline: 0 none;
        }
    }
}

.legend {
    height: 30px;
    background-color: #1d2927;
}

.legend__color {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 20px;
    border-radius: 50%;
}

.legend__color--asia {
    background-color: #FEDE25;
}

.legend__color--africa {
    background-color: #EB6C23;
}

.legend__color--europe {
    background-color: #119EAC;
}

.legend__color--north-america {
    background-color: #C64671;
}

.legend__color--south-america {
    background-color: #75457C;
}

.legend__color--oceania {
    background-color: #0064df;
}

.legend__continent {
    display: inline-block;
}
